.body{
  background-color: green;
  padding: 10px 10px 10px 10px;
  font-size: 24px;
  height: 100%;
}
.menu__link{
  color: #fff;
}
.menu__link.active{
  color: gold;
}
.navigation{
  margin-top: 50px;
}
.navigation__link{
  color: #fff;
}
.friends{
  color: #fff;
  padding-top: 30px;
}
.friendsData{
  max-width: 170px;
  overflow: auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

